<a href="https://colab.research.google.com/github/MakineniSuryaTej/Pandas/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Importing Library
import pandas as pd

In [ ]:
# Series Object is Single dimension
animals = ['Tiger', 1, 'Moose']
pd.Series(animals)

0    Tiger
1        1
2    Moose
dtype: object

In [ ]:
numbers = [1, 2, 3]
pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

In [ ]:
animals = ['Tiger', 'Bear', None]
pd.Series(animals)

0    Tiger
1     Bear
2     None
dtype: object

In [ ]:
numbers = [1, 2, None]
pd.Series(numbers)

0    1.0
1    2.0
2    NaN
dtype: float64

In [ ]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports)
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [ ]:
s.index

Index(['Archery', 'Golf', 'Sumo', 'Taekwondo'], dtype='object')

In [ ]:
s = pd.Series(['Tiger', 'Bear', 'Moose'], index=['India', 'America', 'Canada'])
s

India      Tiger
America     Bear
Canada     Moose
dtype: object

In [ ]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports, index=['Golf', 'Sumo', 'Hockey'])
s

Golf      Scotland
Sumo         Japan
Hockey         NaN
dtype: object

In [ ]:
# Querying a Series
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports)
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [ ]:
s.iloc[3],s.loc['Golf']

('South Korea', 'Scotland')

In [ ]:
sports = {99: 'Bhutan',
          100: 'Scotland',
          101: 'Japan',
          102: 'South Korea'}
s = pd.Series(sports)
s.iloc[0]

'Bhutan'

In [ ]:
s = pd.Series([100.00, 120.00, 101.00, 3.00])
import numpy as np
print(np.sum(s))

324.0

In [ ]:
# Choose Efficient one
%%timeit -n 100
test = pd.Series(np.random.randint(0,1000,10000))
for label, value in test.iteritems():
    test.loc[label]= value+2

KeyboardInterrupt: ignored

In [ ]:
%%timeit -n 10
s = pd.Series(np.random.randint(0,1000,10000))
s+=2

The slowest run took 7.93 times longer than the fastest. This could mean that an intermediate result is being cached.
10 loops, best of 5: 325 µs per loop

In [ ]:
s = pd.Series([1, 2, 3])
s.loc['Animal'] = 'Bears'
s

0             1
1             2
2             3
Animal    Bears
dtype: object

In [ ]:
original_sports = pd.Series({'Archery': 'Bhutan',
                             'Golf': 'Scotland',
                             'Sumo': 'Japan',
                             'Taekwondo': 'South Korea'})
cricket_loving_countries = pd.Series(['Australia',
                                      'Barbados',
                                      'Pakistan',
                                      'England'], 
                                   index=['Cricket',
                                          'Cricket',
                                          'Cricket',
                                          'Cricket'])
all_countries = original_sports.append(cricket_loving_countries)

In [ ]:
original_sports

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [ ]:
cricket_loving_countries

Cricket    Australia
Cricket     Barbados
Cricket     Pakistan
Cricket      England
dtype: object

In [ ]:
all_countries,all_countries.loc['Cricket']

(Archery           Bhutan
 Golf            Scotland
 Sumo               Japan
 Taekwondo    South Korea
 Cricket        Australia
 Cricket         Barbados
 Cricket         Pakistan
 Cricket          England
 dtype: object, Cricket    Australia
 Cricket     Barbados
 Cricket     Pakistan
 Cricket      England
 dtype: object)

In [ ]:
# DataFrame is two Dimension
purchase_1 = pd.Series({'Name': 'Surya',
                        'Item Purchased': 'Dog Food',
                        'Cost': 22.50})
purchase_2 = pd.Series({'Name': 'Sid',
                        'Item Purchased': 'Kitty Litter',
                        'Cost': 2.50})
purchase_3 = pd.Series({'Name': 'Abhi',
                        'Item Purchased': 'Bird Seed',
                        'Cost': 5.00})
df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index=['Store 1', 'Store 1', 'Store 2'])
df.head()

          Name Item Purchased  Cost
Store 1  Surya       Dog Food  22.5
Store 1    Sid   Kitty Litter   2.5
Store 2   Abhi      Bird Seed   5.0

In [ ]:
df.loc['Store 2']

Name                   Abhi
Item Purchased    Bird Seed
Cost                      5
Name: Store 2, dtype: object

In [ ]:
df.loc['Store 1']
df[df['Cost']<10]

         Name Item Purchased  Cost
Store 1   Sid   Kitty Litter   2.5
Store 2  Abhi      Bird Seed   5.0

In [ ]:
df.T

                 Store 1       Store 1    Store 2
Name               Surya           Sid       Abhi
Item Purchased  Dog Food  Kitty Litter  Bird Seed
Cost                22.5           2.5          5

In [ ]:
df.T.loc['Cost']

Store 1    22.5
Store 1     2.5
Store 2       5
Name: Cost, dtype: object

In [ ]:
df.loc['Store 1','Cost']

Store 1    22.5
Store 1     2.5
Name: Cost, dtype: float64

In [ ]:
df.loc[:,['Name', 'Cost']]

          Name  Cost
Store 1  Surya  22.5
Store 1    Sid   2.5
Store 2   Abhi   5.0

In [ ]:
df.drop('Store 1')

         Name Item Purchased  Cost
Store 2  Abhi      Bird Seed   5.0

In [ ]:
df

          Name Item Purchased  Cost
Store 1  Surya       Dog Food  22.5
Store 1    Sid   Kitty Litter   2.5
Store 2   Abhi      Bird Seed   5.0

In [ ]:
copy_df = df.copy()
copy_df = copy_df.drop('Store 1')
copy_df

         Name Item Purchased  Cost
Store 2  Abhi      Bird Seed   5.0

In [ ]:
df['Location'] = None
df

          Name Item Purchased  Cost Location
Store 1  Surya       Dog Food  22.5     None
Store 1    Sid   Kitty Litter   2.5     None
Store 2   Abhi      Bird Seed   5.0     None

In [ ]:
costs = df['Cost']
costs

Store 1    22.5
Store 1     2.5
Store 2     5.0
Name: Cost, dtype: float64

In [ ]:
costs += 2
df

          Name Item Purchased  Cost Location
Store 1  Surya       Dog Food  26.5     None
Store 1    Sid   Kitty Litter   6.5     None
Store 2   Abhi      Bird Seed   9.0     None

In [ ]:
df.columns

Index(['Name', 'Item Purchased', 'Cost', 'Location'], dtype='object')